
body {
  background-image: url("../images/profilecard.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
}

/*.main-container {
  background-color: white;
  margin: 250px auto;
  width: 50%;
  height: 50%;
  text-align: center;
  border-radius: 20px;
}*/

.main-container {
  width: 40%;
}

.first-container {
  background-color: hsl(185, 75%, 39%);
  padding: 70px;
  margin: 0 auto;
  position: relative;
  left: 400px;
  top: 120px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.second-container {
  background-color: white;
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
  left: 400px;
  top: 120px;
  margin: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}

.image {
  width: 20%;
  height: auto;
  position: absolute;
  bottom: 80%;
  left: 39%;
  display: inline-block;
}

hr {
  margin: 30px auto;
  width: 99.5%;
  border-top-color:  hsl(185, 75%, 39%);
}

.h3-group {
  margin: 0 20px 0 20px;
  padding: 0px;
  text-align: center;
}

.space {
  word-spacing: 70px;
  margin: auto;
}

.first-h {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2.0rem;
  display: inline;
}

.bigspace {
  word-spacing: 100px;
}

.second-h {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.5rem;
  display: inline;
  margin: 0 10px 10px 0;
}

.name {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.6rem;
  word-spacing: 0;
}

.name-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

.name-3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

.set-margin {
  margin-top: 40px;
}
